<ul>
    {{#each article}}
    <li>
        <p>Title: {{this.title}}</p>
        <p>Summary: {{this.summary}}</p>
        <p>Link: <a href="{{this.link}}"</a></p>
        {{#if}}<p>Comments: {{this.comments}}</p>{{/if}}
    </li>
    {{/each}}
</ul>